/* html {
    height: 100%;
    background-image: url("\\static\\img\\bg-ideas\\minimal.jpg");
    opacity: 0.6;
    background-size: cover;
    opacity: 1;
    
  } */

/* 
  .imgcontainer {
    display: grid;
    justify-items: center;
    align-items: center;
    
  } */

  /* img {
    border-radius: 20px 20px 20px 20px;
    border: solid;
    border-style: round;
  } */

  .header {
    color: white;
    text-shadow: 0px 0px 6px black;
    outline: 2px solid white;
    
    font-size: 25px;
  }
  
  /* h1, h2 {
    text-shadow: 0px 6px 8px black;
  } */

  body {
    height: 100%;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    /* text-shadow: 2px 2px 4px #093f15ad; */
   
  }
 
  

  form {
 
    text-align: center;
    display: inline-block;
    
    display: grid;
  
}

  button {
    background-color: red; 
    width: 15%;
    color: white;
    border-radius: 20px 20px 20px 20px;
    border: solid;
    border-style: round;
    border-color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    
  }

  
