<!doctype html>
<html>
  
<head>
  <meta charset="UTF-8">
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}Bright Paths{% endblock %}</title>

  <link rel="stylesheet" href= "\static\img\base.css">
  <link href= "\static\img\base.css" rel="stylesheet" type="text/css">
  
  <div class="header">
      <h1>
        <center><a>Bright Paths</a></center>
      </h1>
  </div>
  
</head>
<body>

  {% block content %}{% endblock %}
  
</body>
</html>
