{% extends 'base.html' %}

{% block content %}

<head>
  <center><h2>Bright Paths</h2></center>
</head>
<body>

  
    

  

    

  <center>
    <div class="container">
      Sign Up For More Information Here <br><br>
      <a href="/show-registration-form">
        <button>Sign Up</button></a>
        <br><br>
      To read the news release and blog post from Perficient: <br><br>
      <a href="https://www.perficient.com/news-room/news-releases/2020/perficient-launches-bright-paths-program-to-drive-stem-education-and-career-opportunities">
        <button>Perficient News Release</button></a>
        

      <a href="https://www.perficient.com/news-room/news-releases/2020/perficient-launches-bright-paths-program-to-drive-stem-education-and-career-opportunities">
        <button>Perficient Blog Post</button></a>

    </div>
  </center>

    
</body>

{% endblock %}