{% extends 'base.html' %}

{% block content %}

<head>
  <center><h2>Bright Paths</h2></center>
</head>
<body>

  
    

  

    

  <center>
    <div class="container">
      Sign Up For More Information Here <br>
      <a href="/show-registration-form">
        <button>Sign Up</button></a>
        <br><br>
      Perficient's News Release: <br>
      "Perficient Launches Bright Paths Program to Drive STEM Education and Career Opportunities"<br>
      <a href="https://www.perficient.com/news-room/news-releases/2020/perficient-launches-bright-paths-program-to-drive-stem-education-and-career-opportunities">
        <button>Click To Read</button></a><br><br>
        
      Perficient's Blog Post: 
      <br>"Welcome 25 Women to Tech in Detroit"<br>
      <a href="https://blogs.perficient.com/2021/03/01/perficients-bright-paths-program-welcomes-25-women-to-tech-in-detroit/">
        <button>Click To Read</button></a>

    </div>
  </center>

    
</body>

{% endblock %}