{% extends 'base.html' %}

{% block content %}

<head>
  
</head>
<body>

  <div>
  <br>
    <center><h2>Bright Paths</h2></center>

   <center><h4></h4> </center>

  <form action='/process-registration-form' method='POST' id="entry-form">
   <center><div class="form-group">
      <br>
      <label><strong>Email:</strong> <br>
        <input class="form-control" type="text" name="email" id="email-entry-field" placeholder="Email">
        
      </label><br><br>

      <label><strong>Full Name:</strong> <br>
        <input class="form-control" type="text" name="name" id="entry-field" placeholder="Full Name">
        
      </label><br><br>


      <button type="submit">Sign Up</button><br>
       </form> </center>

    <br>

    <center>
        {% for message in get_flashed_messages() %}
          {{ message }}
        {% endfor %}
    </center>

    <center>
    <div class="container">
     
    <a href="/"><button type="cancel">Back to Homepage</button></a>
    <br><br>


    <a href="https://www.perficient.com/news-room/news-releases/2020/perficient-launches-bright-paths-program-to-drive-stem-education-and-career-opportunities">
      <button>Perficient News Release</button></a>
      

    <a href="https://www.perficient.com/news-room/news-releases/2020/perficient-launches-bright-paths-program-to-drive-stem-education-and-career-opportunities">
      <button>Perficient Blog Post</button></a>


    </div></center>
</body>

{% endblock %}